opencv-python==4.5.3.56 (Core library for computer vision tasks like face, eye, and mouth detection)

numpy==1.24.3 (Numerical operations and matrix handling library for image manipulation)

matplotlib==3.7.1 (Plotting library used to visualize images and graphs (for debugging))

zipfile36==0.1.3 (For working with zip files (image extraction from ZIP archives))

Pillow==9.3.0 (Image file handling for supporting formats like JPEG, PNG, etc.)
  
google-colab==1.0.0 (For working with Google Colab file upload (if using Colab notebooks))
